body{
    background-image: url(anime-boy-cat-traveling.jpg);
    background-size: cover cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana;
    font-family: 'PT Sans';
    min-width: 200px;
}

/*header*/

#header {
    background: linear-gradient(black, rgb(61, 61, 61), black);
}

#logoProgramo {
    padding-top: 10px;
    padding-bottom: 10px;

}

#redes {
    filter: invert();
    text-align: right;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#yoProgramo {
    width: 200px;
    min-width: 20px;
    max-width: 200px;
    height: auto;
}

#instagram {
    width: 15%;
    min-width: 60px;
    max-width: 80px;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
}

#git {
    width: 15%;
    min-width: 60px;
    max-width: 80px;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
}

#login {
    width:15%;
    min-width: 60px;
    max-width: 80px;
    height: auto; 
    padding-right: 15px;
    padding-left: 15px;
}

/*/header*/

#espacioNavbar {

}

#navbar {
    text-align: center;
    background-color: aliceblue;
    margin-top: 15%;
    padding: 15px;
    border-radius: 15%;
}

#espacioContenido {
padding-left: 10%;
padding-right: 10%;
}

#contenido {
    text-align: center;
    width: auto;
    background-color: rgb(41, 41, 41);
    color: aliceblue;
    border-radius: 20%;
    padding-bottom: 15px ;
    margin-top: 50px;
    max-width: fit-content;
}